* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  width: 95%;
  font-size: 11px;
  text-align: center;
  margin: 20px auto;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  display: inline;
}

body {
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center; /* centers vertically */
  height: 120vh;
  margin: 10rem;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit";
  font-weight: 400, 700;
}
.container {
  display: block;
  margin: 0 auto;
  padding: 5px;
  width: 95%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
}
.qr_code {
  margin: 0 auto;
}
.qr_code img {
  text-align: center;
  width: 100%;

  border-radius: 8px;
}

.qr_info {
  text-align: center;
  margin: 3rem auto 5rem auto;
  padding: 10px;
  width: 100%;
}
.qr_info p {
  font-size: 15px;
  margin-top: 20px;
  color: #aaa;
}

@media screen and (max-width: 767px) {
  body {
    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center; /* centers vertically */
    height: 100vh;
    width: 100%; /* or 375px if you want fixed */
  }

  .container {
    width: 90%;
    padding: 5px;
  }
  .qr_code {
    margin: 30px;
    width: 80%;
  }
  .attribution {
    font-size: 9px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  body {
    width: 100%; /* or 1440px if fixed */
  }

  .container {
    width: 70%;
  }
  .qr_code {
    width: 65%;
  }
}
